.cont_box {
  margin: 0;
  padding: 0 30px;
  h2 {
    margin: 0 0 10px 0;
  }
  p {
    font-size: 14px;
    margin: 0 0 20px 0;
  }
}
.cont_box1 {
  margin: 30px 0 0 0;
  padding: 0 30px;
  h2 {
    margin: 0 0 10px 0;
  }
  p {
    font-size: 14px;
    margin: 0 0 20px 0;
  }
}