.calendermainone{
    display: flex;
    white-space: nowrap;
    width: 100%;
    overflow-y: auto;
   
    :global(){
        .Mui-selected{
            background: #FFFFFF;
border-radius: 10px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;
        }
    }
}
